/*Web fonts*/
@import url(http://fonts.googleapis.com/css?family=New+Rocker);
@import url("typograph.css");
#pagina {
    margin: 0 50px;
    margin-top: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

}
#cabecalho {
    height: 100px;
    border-radius: 5px;
    margin-bottom: 2px;
    background-color: #3F453C !important;
    color: #FF3432;
    display: flex;
}
#logo{
    width: 320px;
}
#logotext{
    flex: 1;
    line-height: 100px;
    padding-left: 30px;
    font-size: 20pt;
    font-family: 'New Rocker', cursive;
}
#menuPrincipal{
    height: 50px;

}
#conteudo {
    min-height: 600px;
    flex: 1;
    padding: 10px;
}
#rodape {
    height: 50px;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}
/*#rodape img {
    float:left;
}*/
#cabecalho,#menuPrincipal,#conteudo,#rodape{
    box-shadow: 0 0 2px 2px #94090D;
    border-radius: 3px;
    margin-bottom: 15px;
    background-color: #fff;
}
body {
    /*Gerado em http://www.colorzilla.com/gradient-editor*/
    background: #fff0ef; /* Old browsers */
    background: -moz-linear-gradient(top,  #fff0ef 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff0ef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fff0ef 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fff0ef 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fff0ef 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fff0ef 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff0ef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.horizontalMenu li {
    display: inline;
    list-style: none;
    margin-right: 20px;
    border: 1px dashed;
    padding: 8px;
}
.horizontalMenu ul {
    padding: 0;
    position: relative;
    margin-left: 10px;
}
.horizontalMenu a {
    text-decoration: none;
    text-transform: uppercase;
}
