@import url(http://fonts.googleapis.com/css?family=Tangerine);a,a:visited {
    color: #871528;
}
#pagina {
    color: #3F453C;
}
h1,h2, h3, h4,h5,h6 {
    font-family: "Tangerine", cursive;
    margin: 3px 3px 10px 0;
    color: #5C1237;
    border-left: 8px solid;
    text-transform: capitalize;

}
h1 {
    font-size: 50px;
    text-decoration: underline;
    text-transform: uppercase;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 45px;
}
h4 {
    font-size: 40px;
}
h5 {
    font-size: 35px;
}

h6 {
    font-size: 30px;
}

.enfase {
    font-weight: bold;
    color: #5C1237;
}

.approved, .attention, .alert, .info {
    padding: 10px 10px 10px 45px;
    border-radius: 6px;
    font-weight: bold;
    background-position: 10px 50%;
    background-repeat: no-repeat;
}

.approved a, .attention a, .alert a, .notice a {
    color: #000 !important;
    text-decoration: underline;
}

.approved a:hover, .attention a:hover, .alert a:hover, .notice a:hover {
    color: #fff !important;
    text-shadow: none;
}

.approved {
    background-color: #74924A;
    background-image: url(../img/icons/approved.png);
    color: #232F12;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.attention{
    background-color: #D69839;
    background-image: url(../img/icons/attention.png);
    color: #5A3800;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.alert {
    background-color: #BD5151;
    background-image: url(../img/icons/alert.png);
    color: #4C1818;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.info{
    background-color: #488AAD;
    background-image: url(../img/icons/notice.png);
    color: #133548;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
#autor {
    color: #488AAD;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}